.clase1{
width: 500px;
height: 100px;
border: 5px solid black;
padding: 20px;
margin: 10px;
color: red;
}

.clase2{
    width: 500px;
    height: 100px;
    border: 5pxs solid black;
    padding: 20px;
    margin: 10px;
    color: red
}

.clase3{
    width: 500px;
    height: 100px;
    border: 5pxs olid black;
    padding: 20px;
    margin: 10px;
    color: red

}

.clase4{
    width: 500px;
    height: 100px;
    border: 5px solid black;
    padding: 20px;
    margin: 10px;
    color: red

}

clase5{ 
    width: 500px;
    height: 100px;
    border: 5px solid black;
    padding: 20px;
    margin: 10px;
    color: red 
}