.div id{
color: black;
text-align: center;

}

.img src{
    display:block;
    margin:auto;
    width:300px;
    color: reg(153,152;152);
    padding: 10px solid reg(153,152,152);
    background: rgb(153, 152, 152);
    
    font-weight: bold;
    text-align: center;

    }

.div id{
    text-align: center
    width:89%;
    height:100px;
    color: black;
    background: rgb(217, 217, 217);
    font-weight: bold;
    text-align: center;
    border: 5px solid white;
    font-size: 23px
}


.clase1{

width: 100%;
height: 300px;
color: rgb(34, 137, 163);
background:#FAEBD7;
font-weight: bold;
border: 5px solid white;
padding: 10px solid grey;
margin: 10px;


}
.clase1b {
    width:60%;
    height:100px;
    color: black;
    background: rgb(153, 152, 152);
    font-weight: bold;
    float: center;
    text-align: center;
    margin: auto
}

.clase2 {
    width:80%;
    height:100px;
    color: black;
    background: rgb(217, 217, 217);
    font-weight: bold;
    text-align: center;
    border: 5px solid white;
    font-size: 23px
}
 
.clase3 {
    width:20%;
    height:170px;
    color: black;
    float: left;
    background: rgb(217, 217, 217);
    font-weight: bold;
    text-align: center;
    border: 5px solid white;
    font-size: 23px

}
.clase4 {

    width:79.8%;
    height:170px;
    color: black;
    background: rgb(217, 217, 217);
    float:center;
    font-weight: bold;
    text-align: center;
    padding: solid rgb(217,217,217);
    font-size: 23px;
    border:
    margin: auto
}
 

 
.clase5 {
    width:80%;
    height:30px;
    color: black;
    background: rgb(217, 217, 217);
    font-weight: bold;
    text-align: center;
    float: left;
    border: 5px solid white;
    font-size: 23px
}

.foto {
    width:300;
    height:20px;
    background: rgb(217, 217, 217);
    text-align: center;
    float: left;
}